*{
    padding: 0;
    box-sizing: border-box;
    margin: 0 10px;
    font-family: 'Signika', sans-serif;
    background: #FFFFFF;
}

/*header */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*changing text style with discord link */
.nav-content{
    display: flex;
    align-items: center;
}
.nav-content a:hover{
    opacity: 0.5;
}
/*sizing image to bottom */
.image-logo img{
    position: relative;
    top:50px;
}
.nav-content p{
    font-weight: 300;
    font-size: 30px;
}

/*moving hr up and to the left */
hr{
    position: relative;
    bottom:20px;
    width: 70%;
    margin-left: auto;
}

.main-wrapper{
    padding-top: 50px;
    display:flex;
}

/*styling to edit text */
h1 {
    font-weight: bold;
    font-size: 35px;
}

.text-content p {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
}

/*styling to adjust google excel sheet call to action part */

.link-to-access a:hover{
    opacity: 0.5;
}
/*styling to adjust anchor content */
.anchor-content{
    padding-top: 40px;
}

.anchor-content p{
font-style: normal;
font-weight: 600;
font-size: 24px;
}

.anchor-content ul{
    display: flex;
    align-items: center;
}

.anchor-content ul li{
    list-style:none;
}

.anchor-content ul li img{
    width: 90%;
}

.anchor-content ul li a:hover{
    opacity: 0.5;
}

.mobile_discord {
    display: none
}

@media (max-width: 1024px) {
    hr {
        width: 60%
    }
}

@media (max-width: 800px) {
    *{
        margin: 0 5px
    }

    hr {
        display: none
    }

    .mobile_discord {
        padding-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 90%;
        display: block;
    }

    .main-wrapper {
        margin: 30px;
        display: flex;
        max-width: 768px;
        flex-direction: column;
        align-items: center
    }
    /*header */
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav-content {
        display: none;
    }

    /* Is there a better way to do this? */
    .headerImage {
        width: 110%;
    }
}
