* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Signika', sans-serif;
    background: #FFFFFF;
}

/* For high res screen, limit to 1920px */
body {
    max-width: 1920px;
    margin: 0px auto;
}

.is-clickable {
  cursor: pointer;
}

.is-hoverable:hover {
  opacity: 0.5;
}

/*header */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

/*changing text style with discord link */
.nav-content {
    display: block;
    align-items: center;
    margin: 5px 25px;
}

/* Do not display bullet for nav bar list */
.nav-content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-content li {
    float: left;
    margin: 0 10px;
    font-weight: 300;
    font-size: 30px;
}

.image-logo {
    margin: 0 30px;
    position: relative;
    top:50px;
}

/*dropdown to switch language */
.lang-dropdownbtn {
  border: none;
  margin: 0px;
  padding: 0px 5px;
}

.lang-dropdownbtn {
  display: inline-block;
  font-size: 16px;
}

.dropdown-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin: 0px 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lang-options {
  display: none;
  position: absolute;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px 0;
  margin: 0 20px 0 0; /* Margin on right*/
}

.lang-options a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}

/*to toggle dropdown content*/
.show {
  display: block;
}

.aside {
    padding: 50px 0 10px 0; /* Move aside away from logo */
    width: 30vw;
    max-width: 550px; /* Size of img in aside */
    min-width: 300px;
}

.main-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 25px;
}

/*styling to edit text */
h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 15px 0; /* add some white space between title and others */
}

.headerImage {
    width: inherit; /* Inherit from aside div */
    max-width: inherit;
    min-width: inherit;
}

.section {
    min-width: 700px;
    width: 65vw;
    max-width: 1300px;
    padding: 15px 25px 0;
    border-top: thin solid black;
}

.text-content p {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.about-content p {
    display: inline;
    margin: 0px;
}

/*styling to adjust anchor content */
.anchor-content {
  padding-top: 40px;
}

.anchor-content p{
font-style: normal;
font-weight: 600;
font-size: 24px;
}

.anchor-content ul{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.anchor-content ul li{
    list-style: none;

}

.anchor-content ul li img{
    width: 90%;
    max-height: 50px;
    width: auto;
}

.mobile_discord {
    display: none
}

.ccAttribution {
    margin-left: 12px; /* align with button links */
}

.link-to-access {
    margin: 0 /* align button to titles */
}

.ccAttribution {
    margin-top: 2%;
    text-align: center;
}

/* mobile specific CSS */
@media (max-width: 768px) {
    * {
        margin: 0 0
    }

    hr {
        display: none
    }

    .mobile_discord {
        padding-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lang-dropdown {
        margin: 10px 0px;

    }

    .lang-options {
        right: unset;
    }

    .main-wrapper {
        margin: 15px; /* slightly less margin */
        display: flex;
        max-width: 768px;
        flex-direction: column;
        align-items: center;

        /* Remove stuff from desktop version */
        padding: initial;
    }
    /*header */
    .top-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav-content {
        display: none;
    }

    /* Is there a better way to do this? */
    .headerImage {
        max-width: 325px;
        padding: 0 0 0 25px; /* Offset image to right */
        margin: 0;
        background: transparent; /* don't block image-logo */
        width: initial;
        min-width: initial;
    }

    .aside {
        z-index: 9; /* don't get hidden behind image-logo */
        background: transparent; /* don't block image-logo */
        padding: 5px 0 0 15px; /* make aside appear beside image-logo */
        width: initial;
        max-width: initial;
        min-width: initial;
    }

    .section {
        margin-top: 42px; /* add some white space to top of section */
        border: unset;
        min-width: initial;
        max-width: initial;
        width: initial; 
        padding: 0 25px 0;
    }

    /* adjust text size for mobile */
    h1 {
        font-size: 25px;
        margin: 15px 0;
    }

    .text-content p {
        font-size: 13px;
        text-align: left;
        line-height: 23px;
    }

    .mobile_discord {
        margin-left: -5px;
    }

    .link-to-access > a, .mobile_discord > a {
        display: block;
        width: 215px; /* for mobile, it's better to fix the width */
        margin: 0; /* removed margin to align buttons */
    }
    .link-to-access > a > img, .mobile_discord > a > img {
        width: 215px; /* for mobile, it's better to fix the width */
    }

    .ccAttribution {
        margin-top: 5px; /* slight top spacing for CC image */
        margin-left: 0;
    }

    .anchor-content ul {
        padding-top: 10px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .anchor-content li img {
        max-height: 30px;
    }
}

/* tablet specific CSS */
@media (min-width: 600px) and (max-width: 768px) {
    .mobile_discord {
        margin-left: -20px;
    }
}

@media (max-width:600px) {
    .link-to-access {
        max-width: 600px;
        display:flex;
        justify-content: center;
    }

    .link-to-access img {
        position: relative;
        left: -2%;
    }
}
