*{
    padding: 0;
    box-sizing: border-box;
    margin: 0 10px;
    font-family: 'Signika', sans-serif;
    background: #FFFFFF;
}

/*header */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*changing text style with discord link */
.nav-content{
    display: flex;
    align-items: center;
}
.nav-content a:hover{
    opacity: 0.5;
}
/*sizing image to bottom */
.image-logo img{
    position: relative;
    top:50px;
}
.nav-content p{
    font-weight: 300;
    font-size: 30px;
}

/*moving hr up and to the left */
hr{
    position: relative;
    bottom:20px;
    width: 70%;
    margin-left: auto;
}

.main-wrapper{
    padding-top: 50px;
    display:flex;
}

/*styling to edit text */
h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 15px 9px; /* add some white space between title and others */
}

.text-content p {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
}

/*styling to adjust google excel sheet call to action part */

.link-to-access a:hover{
    opacity: 0.5;
}
/*styling to adjust anchor content */
.anchor-content{
    padding-top: 40px;
}

.anchor-content p{
font-style: normal;
font-weight: 600;
font-size: 24px;
}

.anchor-content ul{
    display: flex;
    align-items: center;
}

.anchor-content ul li{
    list-style:none;
}

.anchor-content ul li img{
    width: 90%;
}

.anchor-content ul li a:hover{
    opacity: 0.5;
}

.mobile_discord {
    display: none
}

.ccAttribution {
    margin-left: 12px; /* align with button links */
}

.section {
    margin-top: -35px; /* shrink top spacing for desktop */
}

.link-to-access {
    margin: 0 /* align button to titles */
}

/* mobile specific CSS */
@media (max-width: 768px) {
    *{
        margin: 0 5px
    }

    hr {
        display: none
    }

    .mobile_discord {
        padding-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 90%;
        display: block;
    }

    .main-wrapper {
        margin: 15px; /* slightly less margin */
        display: flex;
        max-width: 768px;
        flex-direction: column;
        align-items: center
    }
    /*header */
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav-content {
        display: none;
    }

    /* Is there a better way to do this? */
    .headerImage {
        width: 325px !important; /* for mobile, it's better to fix the width */
        padding: 0 20px; 
        background: transparent; /* don't block image-logo */
    }

    .aside {
        margin-top: -50px; /* make aside appear beside image-logo */
        margin-left: 60px;
        z-index: 9; /* don't get hidden behind image-logo */
        background: transparent; /* don't block image-logo */
    }

    .section {
        margin-top: 42px; /* add some white space to top of section */
    }

    /* adjust text size for mobile */
    h1 {
        font-size: 25px;
        margin: 15px 0;
    }

    .text-content p {
        font-size: 13px;
        text-align: left;
        line-height: 23px;
    }

    .mobile_discord {
        margin-left: -5px;
    }

    .link-to-access > a, .mobile_discord > a {
        display: block;
        width: 215px; /* for mobile, it's better to fix the width */
        margin: 0; /* removed margin to align buttons */
    }
    .link-to-access > a > img, .mobile_discord > a > img {
        width: 215px; /* for mobile, it's better to fix the width */
    }

    .ccAttribution {
        margin-top: 5px; /* slight top spacing for CC image */
        margin-left: 0;
    }

}

/* tablet specific CSS */
@media (min-width: 600px) and (max-width: 768px) {
    .mobile_discord {
        margin-left: -20px;
    }
}
